@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


h1{
	color: white;
	background-color: #ec5a6b;
	margin-right: 5em;
	margin-bottom: 0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left:0.5em;
	font-family: 'Raleway', sans-serif;
}

h2{
	text-align:center;
	background-color: #ec5a6b;
	color: white;
	padding-top:0.5em;
	padding-bottom: 0.5em;
	font-family: 'Raleway', sans-serif;
}


body{
	margin:0em;
	font-family: 'Raleway', sans-serif;
}

.about{
background-color: gray;
color: white;
}

.potrait{
	width: 100%;
	border-radius: 50%;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 1em;
}


.p-1, .p-2, .p-3, .p-4{
	width:100%;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 1em;
}

img{
	width:100%;
}
