@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}



img{
	width:100%;
	border-radius: 50%;
}

h1{
	color: white;
	background-color: #ec5a6b;
}

h2{
	text-align:center;
	background-color: #ec5a6b;
}


body{
	margin:0em;
}
